In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('datas/students.csv')
data.head()

  First Name           Last Name                     Email  Student ID
0     kelvin               mwaka     kelvinmwaka@gmail.com           0
1     Etuonu               David   davidetuonu12@gmail.com           1
2       Eric  Kwabena Preko Addo     addoericjnr@gmail.com           2
3   Emmanuel               Otiti         fammava@gmail.com           3
4   Chimezie               Ogbuu  ogbuchimezie17@gmail.com           4

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  69 non-null     object
 1   Last Name   69 non-null     object
 2   Email       69 non-null     object
 3   Student ID  69 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.3+ KB

In [5]:
def clean_data(df):
    for col in df.columns:
        if col in ['First Name', 'Last Name']:
            df[col] = df[col].apply(lambda x: x.strip().capitalize())
            df.rename(columns={col: col.lower().replace(' ','_')}, inplace=True)
        elif col in ['Email']:
            df[col] = df[col].str.lower()
            df.rename(columns={col: col.lower()}, inplace=True)
        else:
            df[col] = 0
            df.rename(columns={col: 'status'}, inplace=True)
    
    print('Columns cleaned and Renamed')

In [6]:
clean_data(data)

Columns cleaned and Renamed

In [7]:
data.head()

  first_name           last_name                     email  status
0     Kelvin               Mwaka     kelvinmwaka@gmail.com       0
1     Etuonu               David   davidetuonu12@gmail.com       0
2       Eric  Kwabena preko addo     addoericjnr@gmail.com       0
3   Emmanuel               Otiti         fammava@gmail.com       0
4   Chimezie               Ogbuu  ogbuchimezie17@gmail.com       0

In [10]:
data.to_csv('datas/students0.csv', index=False)
print('Done!')

Done!